@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Pig";
    string winnerDisplay = "";
    bool buttonsDisabled = false;
    int lastRoll = (Context.Session.GetInt32("LastRoll") ?? 0);
    bool gameOver = false;

    if (string.IsNullOrEmpty(Context.Session.GetString("Winner")))
    {
        winnerDisplay = "d-none";
    }
    else
    {
        buttonsDisabled = true;
        gameOver = true;
    }
}

<div class="row">
   <div class="col-md-7 col-sm-12">
       <table class="table table-bordered">
            <tr>
                <td>
                    <div class="row">
                        <div class="col-9">
                            <p>Player 1: @Context.Session.GetInt32("Player1_Score")</p>
                            <p>Player 2: @Context.Session.GetInt32("Player2_Score")</p>
                        </div>
                        <div class="col-3">
                            <a asp-action="NewGame" class="btn btn-outline-dark">New Game</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-9">
                            @{
                                if (gameOver)
                                {
                                    <h4 class="mb-4">Game Over</h4>
                                }
                                else
                                {
                                    <h4 class="mb-4">@Context.Session.GetString("whosTurn")'s turn</h4>
                                }
                            }
                            
                            @{
                                if (buttonsDisabled)
                                {
                                    <a class="btn btn-secondary">Roll</a>
                                    <a class="btn btn-secondary">Hold</a>
                                }
                                else
                                {
                                    <a asp-action="Roll" class="btn btn-dark">Roll</a>
                                    <a asp-action="Hold" class="btn btn-outline-dark">Hold</a>
                                }
                            }
                            <p class="d-inline">Die: @Context.Session.GetInt32("Die") Total: @Context.Session.GetInt32("Total")</p>
                        </div>
                        <div class="col-3">
                            @{
                                if (lastRoll == 1)
                                {
                                    <h1 class="display-3 m-0 text-danger">⚀</h1>
                                }
                                else if (lastRoll == 2)
                                {
                                    <h1 class="display-3 m-0">⚁</h1>
                                }
                                else if (lastRoll == 3)
                                {
                                    <h1 class="display-3 m-0">⚂</h1>
                                }
                                else if (lastRoll == 4)
                                {
                                    <h1 class="display-3 m-0">⚃</h1>
                                }
                                else if (lastRoll == 5)
                                {
                                    <h1 class="display-3 m-0">⚄</h1>
                                }
                                else if (lastRoll == 6)
                                {
                                    <h1 class="display-3 m-0">⚅</h1>
                                }
                            }
                        </div>
                    </div>
                    
                </td>
            </tr>
       </table>
   </div>

   <div class="col-md-5 col-sm-12">
        <table class="table table-bordered">
            <tr>
                <td>
                    First player to 20 wins.
                </td>
            </tr>
            <tr>
                <td>
                    Players take turns rolling the die.
                </td>
            </tr>
            <tr>
                <td>
                    Turn ends when player rolls a 1 or chooses to hold
                </td>
            </tr>
            <tr>
                <td>
                    If player rolls a 1, they lose all points earned during that turn.
                </td>
            </tr>
            <tr>
                <td>
                    If player holds, points earned during that turn are added to their total.
                </td>
            </tr>
        </table>
   </div>
</div>
<div class="row @winnerDisplay">
    <div class="col-12 jumbotron bg-dark text-white text-center mt-3">
        <h2 class="">@Context.Session.GetString("Winner") wins!</h2>
    </div>
</div>
